font-family: 'Roboto', sans-serif;


.navbar-default {
    background-color:white !important;
    border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
    color:rgb(243, 136, 0);
font-family: Arial, Helvetica, sans-serif;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>{
    color:#251c5e !important;
    background-color:grey;
}

